@use "../base/variables";
@use "../helpers/utilities";

.dashboard_layout {
    position: relative;
    .section {
        @extend %defalut_calc_section;
    }
    #section_1 {
        width: 100%;
        height: 100vh;
        .section_1_video {
            width: 100%;
            .video_wrap {
                width: 100%;
                video {
                    width: 100%;
                    height: 100vh;
                    object-fit: cover;
                }
            }
        }
    }
    #section_2 {
        @include utilities.setMargin(70px, auto, 0, auto);
        min-width: calc(1064px - 40px);
        background: url("/public/dashboard/ipad.png") center no-repeat;
        .section_2_title {
            @include utilities.setFlex(flex, center, center, column);
            height: 250px;
            h2 {
                font-size: variables.$DEF_FONT_SIZE + 35;
                line-height: variables.$DEF_LINE_HEIGHT + 55;
                color: variables.$DEF_COLOR;
                font-weight: variables.$DEF_FONT_WEIGHT + 100;
                @include utilities.setMargin(0, 0, 5px, 0);
            }
            p {
                font-size: variables.$DEF_FONT_SIZE + 75;
                font-weight: variables.$DEF_FONT_WEIGHT + 300;
                background: linear-gradient(to right, #ff6a00, #ee0979);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .s2_sliderWrap {
            @include utilities.setMargin(120px, 0, 0, 0);
            .s2_box {
                width: 42%;
                @include utilities.setMargin(0, auto, 0, auto);
                position: relative;
                opacity: 1;
                @include utilities.setFlex(flex, center, space-between, row);
                .s2_slide {
                    position: relative;
                    @include utilities.setWH(350px, auto);
                    border-radius: variables.$DEF_BORDER_RADIUS + 15;
                    overflow: hidden;
                    img {
                        transition: 0.3s;
                        width: 100%;
                        height: auto !important;
                    }
                }
                .s2_slide_txt {
                    width: 50%;
                    @include utilities.setFlex(flex, flex-start, center, column);
                    p {
                        color: #fff;
                    }
                    .s2_slide_tit {
                        font-size: variables.$DEF_FONT_SIZE + 15;
                    }
                    .s2_slide_desc {
                        font-size: variables.$DEF_FONT_SIZE;
                        line-height: variables.$DEF_LINE_HEIGHT + 8;
                        @include utilities.setMargin(10px, 0, 15px, 0);
                    }
                    .s2_slide_etc {
                        @include utilities.setFlex(flex, flex-start, space-between, row);
                        @include utilities.setMargin(0, 0, 10px, 0);
                        width: 100%;
                        div {
                            width: 33%;
                            span {
                                display: block;
                                color: #999;
                                font-size: variables.$DEF_FONT_SIZE;
                                @include utilities.setMargin(0, 0, 5px, 0);
                            }
                            p {
                                font-size: variables.$DEF_FONT_SIZE - 2;
                            }
                        }
                    }
                    .s2_slide_video {
                        border: 1px solid #fff;
                        @include utilities.setPadding(5px, 20px, 5px, 20px);
                        cursor: pointer;
                    }
                }
            }
        }
        .slick-next {
            right: 28%;
            top: 95%;
            transform: translate(-28%, -95%);
            z-index: 5;
            background: url("/public/icon/sliderArrowRight.png") center no-repeat;
            @include utilities.setWH(30px, 30px);
            background-color: #83838396;
            border-radius: 50%;
            background-size: 7px;
        }
        .slick-prev {
            left: 69%;
            top: 95%;
            transform: translate(-69%, -95%);
            z-index: 5;
            background: url("/public/icon/sliderArrowLeft.png") center no-repeat;
            @include utilities.setWH(30px, 30px);
            background-color: #83838396;
            border-radius: 50%;
            background-size: 7px;
        }
        .slick-prev::before, .slick-next::before {
            content: "";
        }
    }
    #section_3 {
        @extend %defalut_calc_section;
        width: 100%;
        .s3_box {
            @include utilities.setPadding(70px, 0, 70px, 0);
            height: 100%;
            @include utilities.setFlex(flex, flex-start, flex-start, column);
            box-sizing: border-box;
            .s3_top {
                @include utilities.setFlex(flex, center, flex-start, row);
                @include utilities.setWH(100%, 50%);
                box-sizing: border-box;
                .s3_top_left {
                    width: 25%;
                    h3 {
                        color: variables.$DEF_COLOR;
                        font-size: variables.$DEF_FONT_SIZE + 65;
                    }
                    h4 {
                        color: variables.$DEF_COLOR;
                        font-size: variables.$DEF_FONT_SIZE + 35;
                        @include utilities.setMargin(5px, 0, 0, 0);
                    }
                }
                .s3_top_right {
                    width: 75%;
                    @include utilities.setFlex(flex, center, space-between, row);
                    .s3_top_right_whiteBox {
                        background: variables.$DEF_COLOR;
                        @include utilities.setWH(300px, 300px);
                        .top_empty_box_title {
                            @include utilities.setAbsolute(20px, 50px, 0, 0);
                            font-size: variables.$DEF_FONT_SIZE + 11;
                            font-weight: variables.$DEF_FONT_WEIGHT + 100;
                            color: variables.$DEF_COLOR
                        }
                        .top_empty_box_content {
                            @include utilities.setAbsolute(20px, 100px, 0, 0);
                            font-size: variables.$DEF_FONT_SIZE + 1;
                            font-weight: variables.$DEF_FONT_WEIGHT + 100;
                            color: variables.$DEF_COLOR;
                            line-height: variables.$DEF_LINE_HEIGHT + 5;
                        }
                        .top_empty_box_detail {
                            position: absolute;
                            bottom: 40px;
                            left: 20px;
                            transform: translate(0, 0);
                            font-size: variables.$DEF_FONT_SIZE + 3;
                            font-weight: variables.$DEF_FONT_WEIGHT + 100;
                            color: variables.$DEF_COLOR;
                            border-top: 1px solid variables.$DEF_COLOR;
                            border-bottom: 1px solid variables.$DEF_COLOR;
                            @include utilities.setPadding(10px, 0, 10px, 0);
                            width: 150px;
                            text-align: center;
                            i {
                                @include utilities.setMargin(0, 0, 0, 10px);
                            }
                        }
                        .anothertop_empty_box_content {
                            top: 130px;
                        }
                    }
                }
            }
            .s3_bottom {
                @include utilities.setWH(100%, 50%);
                @include utilities.setFlex(flex, center, space-between, row);
                .s3_bottom_box {
                    @include utilities.setWH(50%, 300px);
                }
            }
            .top_list {
                @include utilities.setFlex(flex, center, space-between, row);
                @include utilities.setWH(100%, 300px);
                span {
                    background : black;
                    @include utilities.setWH(100%, auto);
                    img {
                        width: 100%;
                    }
                    .empty_box {
                        display: block;
                        position: relative;
                        .hover_event {
                            @include utilities.setAbsolute(50%, 50%, -50%, -50%);
                            opacity: 0;
                            transition: 1.5s;
                            @include utilities.setFlex(flex, flex-start, flex-start, row);
                            width: 100%;
                        }
                        .top_list_img {
                            transition: 1.5s;
                        }
                    }
                }
                span:hover {
                    .empty_box {
                        .hover_event {
                            opacity: 1;
                        }
                        .top_list_img {
                            opacity: 0.3;
                            img {
                                transform:scale(1.1);
                                transition: 1.5s;
                            }
                        }
                        .top_list_img_white {
                            opacity: 0.8;
                        }
                    }
                }
                .empty_box_title {
                    @include utilities.setAbsolute(40px, 50px, 0, 0);
                    font-size: variables.$DEF_FONT_SIZE + 11;
                    font-weight: variables.$DEF_FONT_WEIGHT + 100;
                    color: variables.$DEF_COLOR;
                }
                .empty_box_content {
                    @include utilities.setAbsolute(40px, 100px, 0, 0);
                    font-size: variables.$DEF_FONT_SIZE + 1;
                    font-weight: variables.$DEF_FONT_WEIGHT + 100;
                    color: variables.$DEF_COLOR;
                    line-height: variables.$DEF_LINE_HEIGHT + 10;
                    width: 420px;
                }
                .empty_box_detail {
                    position: absolute;
                    bottom: 50px;
                    left: 40px;
                    transform: translate(0, 0);
                    font-size: variables.$DEF_FONT_SIZE + 3;
                    font-weight: variables.$DEF_FONT_WEIGHT + 100;
                    color: variables.$DEF_COLOR;
                    border-top: 1px solid variables.$DEF_COLOR;
                    border-bottom: 1px solid variables.$DEF_COLOR;
                    @include utilities.setPadding(10px, 0, 10px, 0);
                    width: 150px;
                    text-align: center;
                    i {
                        @include utilities.setMargin(0, 0, 0, 10px);
                    }
                }
            }
            .top_list_img {
                @include utilities.setWH(100%, 300px);
                overflow: hidden;
                opacity: .5;
                img {
                    @include utilities.setWH(100%, 100%);
                    object-fit:cover;
                    transform:scale(1.0);
                    transition: 1.5s;
                }
            }
        }
    }

    #section_4 {
        @extend %defalut_calc_section;
        .s4_box {
            .s4_top_top {
                @include utilities.setFlex(flex, center, space-between, row);
                @include utilities.setMargin(70px, 0, 20px, 0);
                h4 {
                    color: variables.$DEF_COLOR;
                    font-size: variables.$DEF_FONT_SIZE + 25;
                }
                a {
                    color: variables.$DEF_COLOR;
                    font-size: variables.$DEF_FONT_SIZE - 1;
                    i {
                        @include utilities.setMargin(0, 0, 0, 5px);
                    }
                }
            }
            .s4_top_bottom {
                .slick-slide {
                    @include utilities.setPadding(20px, 0, 0, 0);
                    cursor: pointer;
                }
                .slick-slide > div {
                    @include utilities.setMargin(0, 10px, 0, 10px);
                }
                .slick-active {
                    transition: 0.5s;
                }
            }
            .s4_top_bottom {
                .slick-active:hover {
                    padding: 0 !important;
                    transition: all 0.7s ease;
                    p {
                        text-decoration: underline;
                    }
                }
                .slick-next, .slick-prev {
                    top: 43%;
                }
                .slick-next {
                    @include utilities.setWH(40px, 40px);
                    opacity: 0.5;
                    background: url("/dashboard/section_4/slider_right.svg") center no-repeat;
                    background-size: 36px;
                    right: -50px;
                }
                .slick-prev {
                    @include utilities.setWH(40px, 40px);
                    opacity: 0.5;
                    background: url("/dashboard/section_4/slider_left.svg") center no-repeat;
                    background-size: 36px;
                    left: -50px;
                }
                .slick-next::before, .slick-prev::before {
                    content: "";
                }
                .slick-next:hover, .slick-prev:hover {
                    opacity: 1;
                }
                .slick-dots {
                    text-align: center;
                    bottom: -50px;
                    li {
                        display: inline-block;
                        padding: 1px;
                        background: #ccc;
                        margin: 10px 5px;
                        width: 40px;
                        height: 5px;
                    }
                    li.slick-active {
                        background: #036db7;
                    }
                    button {
                        display: none;
                    }
                }
                .news_list {
                    @include utilities.setFlex(flex, center, space-evenly, column);
                    @include utilities.setWH(100%, 300px);
                    span {
                        background: black;
                        @include utilities.setWH(100%, auto);
                        img {
                            width: 100%;
                        }
                        .empty_box {
                            display: block;
                            position: relative;
                            .hover_event {
                                @include utilities.setAbsolute(50%, 50%, -50%, -50%);
                                opacity: 0;
                                transition: 1.5s;
                                @include utilities.setFlex(flex, center, center, column);
                                width: 100%;
                            }
                            .news_list_img {
                                transition: 1.5s;
                                @include utilities.setWH(100%, 200px);
                                overflow: hidden;
                                opacity: 0.8;
                                img {
                                    @include utilities.setWH(100%, 100%);
                                    object-fit: cover;
                                    transform: scale(1.0);
                                    transition: 1.5s;
                                }
                            }
                        }
                        &:hover {
                            .empty_box {
                                .hover_event {
                                    opacity: 1;
                                }
                                .news_list_img {
                                    img {
                                        transform: scale(1.1);
                                        transition: 1.5s;
                                    }
                                }
                            }
                        }
                    }
                    .news_contents {
                        h4 {
                            font-size: variables.$DEF_FONT_SIZE - 1;
                            color: #767676;
                            @include utilities.setMargin(10px, 0, 10px, 0);
                        }
                        a {
                            p {
                                font-size: variables.$DEF_FONT_SIZE - 1;
                                color: variables.$DEF_COLOR;
                                line-height: variables.$DEF_LINE_HEIGHT + 3;
                                font-weight: variables.$DEF_FONT_WEIGHT + 200;
                            }
                            &:hover {
                                p {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .s4_bottom {
                @include utilities.setMargin(80px, 0, 0, 0);
                .s4_bottom_top {
                    @include utilities.setMargin(0, 0, 40px, 0);
                    h4 {
                        font-size: variables.$DEF_FONT_SIZE + 25;
                        color: variables.$DEF_COLOR;
                    }
                }
                .s4_bottom_bottom {
                    @include utilities.setFlex(flex, center, space-between, row);
                    .s4_bottom_left {
                        @include utilities.setWH(49%, 200px);
                        background-color: variables.$DEF_COLOR;
                    }
                    .s4_bottom_right {
                        @include utilities.setWH(49%, 200px);
                    }
                    .top_list {
                        @include utilities.setFlex(flex, center, space-evenly, row);
                        @include utilities.setWH(100%, 200px);
                        span {
                            background-color: black;
                            @include utilities.setWH(100%, auto);
                            .empty_box {
                                display: block;
                                position: relative;
                                .hover_event {
                                    @include utilities.setAbsolute(50%, 50%, -50%, -50%);
                                    opacity: 0;
                                    transition: 1.5s;
                                    @include utilities.setFlex(flex, center, center, column);
                                    width: 100%;
                                }
                                .top_list_img {
                                    transition: 1.5s;
                                    @include utilities.setWH(100%, 200px);
                                    overflow: hidden;
                                    opacity: 0.6;
                                    img {
                                        @include utilities.setWH(100%, 100%);
                                        object-fit: cover;
                                        transform: scale(1.0);
                                        transition: 1.5s;
                                    }
                                }
                                .empty_box_title {
                                    @include utilities.setAbsolute(30px, 35px, 0, 0);
                                    font-size: variables.$DEF_FONT_SIZE + 11;
                                    font-weight: variables.$DEF_FONT_WEIGHT + 100;
                                    color: variables.$DEF_COLOR;
                                }
                                .empty_box_content {
                                    @include utilities.setAbsolute(30px, 70px, 0, 0);
                                    font-size: variables.$DEF_FONT_SIZE + 1;
                                    font-weight: variables.$DEF_FONT_WEIGHT + 100;
                                    color: variables.$DEF_COLOR;
                                    line-height: variables.$DEF_LINE_HEIGHT + 10;
                                }
                                .youtube_icon {
                                    @include utilities.setAbsolute(24px, 120px, 0, 0);
                                    width: 48px;
                                }
                                .homepage_icon {
                                    @include utilities.setAbsolute(24px, 120px, 0, 0);
                                    width: 38px;
                                }
                            }
                            &:hover {
                                .empty_box {
                                    .hover_event {
                                        opacity: 1;
                                    }
                                    .top_list_img {
                                        opacity: 0.3;
                                        img {
                                            transform: scale(1.1);
                                            transition: 1.5s;
                                        }
                                    }
                                }
                            }
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    #footer {
        background-color: #333;
        @include utilities.setWH(100%, auto);
        .f_cont {
            @extend %defalut_calc_section;
            .f_top {
                @include utilities.setPadding(40px, 0, 0, 0);
                img {
                    width: 100px;
                }
            }
            .f_middle {
                width: 100%;
                @include utilities.setFlex(flex, flex-start, space-between, row);
                @include utilities.setPadding(40px, 0, 60px, 0);
                .f_middle_left {
                    width: 50%;
                    display: flex;
                    .f_middle_left_box1, .f_middle_left_box2 {
                        width: 50%;
                        dl {
                            @include utilities.setFlex(flex, center, flex-start, row);
                            @include utilities.setMargin(0, 0, 20px, 0);
                            font-size: variables.$DEF_FONT_SIZE;
                            font-weight:  variables.$DEF_FONT_WEIGHT - 100;
                            dt {
                                width: 70px;
                                color: variables.$DEF_COLOR;
                            }
                            dd {
                                color: variables.$DEF_COLOR;
                            }
                        }
                    }
                }
                .f_middle_right {
                    width: 25%;
                    .f_middle_right_box1 {
                        @include utilities.setMargin(0, 0, 10px, 0);
                    }
                    .f_middle_right_box1, .f_middle_right_box2 {
                        a {
                            @include utilities.setFlex(flex, center, flex-start, row);
                            .f_m_text {
                                @include utilities.setMargin(0, 0, 0, 20px);
                            }
                        }
                        p {
                            font-size: variables.$DEF_FONT_SIZE;
                            color: variables.$DEF_COLOR;
                            font-weight: variables.$DEF_FONT_WEIGHT - 100;
                            @include utilities.setMargin(0, 0, 5px, 0);
                        }
                        span {
                            font-size: variables.$DEF_FONT_SIZE;
                            color: #999;
                            font-weight: variables.$DEF_FONT_WEIGHT - 100;
                        }
                    }
                }
                .f_sns {
                    width: 15%;
                    p {
                        color: variables.$DEF_COLOR;
                        font-weight: variables.$DEF_FONT_WEIGHT - 100;
                    }
                    .f_social {
                        @include utilities.setFlex(flex, flex-start, space-between, row);
                        flex-wrap: wrap;
                        text-align: left;
                        li {
                            margin-top: 20px;
                            flex: 0 0 25%;
                            svg {
                                transition: fill .4s ease;
                            }
                            .icon--svg--gray-fill {
                                fill: #767676;
                                &:hover {
                                    fill: variables.$DEF_COLOR;
                                }
                            }
                        }
                    }
                }
            }
            .f_bottom {
                @include utilities.setFlex(flex, center, space-between, row);
                @include utilities.setPadding(50px, 0, 50px, 0);
                border-top: 1px solid #ccc;
                p {
                    font-size: variables.$DEF_FONT_SIZE - 1;
                    color: variables.$DEF_COLOR;
                }
                .f_menu {
                    @include utilities.setFlex(flex, center, center, row);
                    li {
                        &:nth-child(2) {
                            @include utilities.setMargin(0, 30px, 0, 30px);
                        }
                        a {
                            font-size: variables.$DEF_FONT_SIZE - 1;
                            color: variables.$DEF_COLOR;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    .dashboard_controller {
        @include utilities.setAbsolute(2%, 50%, -2%, -50%);
        @include utilities.setFlex(flex, center, center, column);
        button {
            font-size: variables.$DEF_FONT_SIZE - 13;
            background-color: #dbdbdb;
            border-radius: variables.$DEF_BORDER_RADIUS + 5;
            @include utilities.setWH(8px, 8px);
            @include utilities.setMargin(0, 0, 20px, 0);
            transition: all 0.5s;
            z-index: 5;
        }
        button.active {
            background-color: #036db7;
            height: variables.$DEF_HEIGHT - 70;
        }
    }
}